@model HRS.ViewModel.WorkersViewModel
@{
    ViewData["Title"] = "İşçi Ekle";
}

<div class="row wrapper border-bottom red-bg page-heading">
    <div class="col-lg-10">
        <h2>İşçi Ekleme Sayfası</h2>
        <ol class="breadcrumb red-bg">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Home")">Anasayfa</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index","Workers")">İşçiler</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>İşçi Ekle</strong>
            </li>
        </ol>
    </div>
</div>
@TempData["title"]
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>İşçi Ekleme Formu</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Add", "Workers", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="İşçi Adı" asp-for="Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="İşçi Soyadı" asp-for="Surname">
                            </div>
                            <div class="col-md-4">
                                <select class="form-control m-b" asp-for="Gender">
                                    <option>-----Cinsiyet Seç-----</option>
                                    <option value="E">Erkek</option>
                                    <option value="K">Kadın</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="number" class="form-control" placeholder="İşçi Tc Kimlik Numarası" asp-for="TcNo">
                            </div>
                            <div class="col-md-3">
                                <input type="date" class="form-control" placeholder="İşçi Doğum Tarihi" asp-for="DateOfBirth">
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" placeholder="İşçi Telefon Numarası" asp-for="Tel">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="İşçi Mail Adresi" asp-for="Mail">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="UserName">
                            </div>
                            <div class="col-md-4">
                                <input type="password" class="form-control" placeholder="Kullanıcı Şifre" asp-for="Password">
                            </div>
                            <div class="col-md-4">
                                <input type="password" class="form-control" placeholder="Kullanıcı Şifre Tekrarı" name="confirmPassword">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="form-control m-b" asp-for="RoleId">
                                    <option>-----İşçi Grubu-----</option>
                                    @foreach (var item in Model.Roles)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i> Kaydet</button>
                        </div>

                    }

                </div>
            </div>

        </div>

    </div>
</div>